NEXT_PUBLIC_SUPABASE_URL=https://fwnkyhlffjzobegjyodk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_ID=fwnkyhlffjzobegjyodk
DATABASE_URL=
OPENAI_API_KEY_EMBEDDINGS=
OPENROUTER_API_KEY=
